/* remove for production -- support issue */

:root {
    --primaryColor: #3023AE;
    --secondaryColor: #5a5a5a;
    --darkColor: #130f30;
    --complementaryColor: #FFA500;
    --transition: all .8s;
}

body,
html{
	font-family: 'Quicksand', 'Montserrat', 'Open Sans', sans-serif !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    color: var(--secondaryColor);
    font-size: 16px !important;
    height: 100vh !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    overflow-x: hidden !important;
}

h1,h2,h3 {
    margin: 0
}

h1 {
	text-transform: uppercase;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondaryColor);
}

.content p.lead > strong {
    color: var(--complementaryColor) !important;
}

.services .overlay,
.about .container,
.contact .container {
    padding: 80px 10px;
}



/*====================
    Navigation BAR
*/

a {
    text-decoration: none !important;
    outline: none !important;
}

#nav--items > ul {
    position: relative;
    top: 15px
}

#at-menu {
    transition: var(--transition);
    padding: 10px 0;
}

.nav-background {
    background: whitesmoke !important;
}

#at-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.in {
    transition: var(--transition) !important;
}

#at-menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 !important;
	color: #fff;
	font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    transition: all .5s;
    margin-left: 30px;
}

#at-menu.navbar-default .navbar-nav > li > a:hover {
    color: var(--complementaryColor) !important;
    border-radius: 0 !important;
    outline: none;
}

.on {
    background-color: #fff !important;
}



.navbar-toggle {
	border-radius: 0;
}
    

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
	border-color: #eee;
}
    

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: var(--primaryColor);
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}
    
/*===================
    Home
    =================
*/
#at-home{
    height: 100vh;
    width: 100%;
	background: url(../img/05.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #eee;
}

#at-home .overlay{
	height: 100vh;
    background-image:linear-gradient(-45deg, rgba(3, 24, 54, 0.6) 60%,rgba(212, 217, 240, 0.6));  
	background-attachment: fixed;
}
#at-home p.lead{
    color: #fff;
    padding-top: 10px;
    font-size: 1.2rem;
}

.content{
	position: relative;
    padding-top: 38vh;
    width: 80%;
    margin: 0 auto;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 3.5rem;
}

a.active {
    color: var(--complementaryColor) !important;
}

a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff !important;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 24px;
    margin-top: 150px;
    outline: none;
    animation: bounce 2s infinite alternate;
	transition: var(--transition);
}
a.fa.fa-angle-down:hover{
	background: var(--complementaryColor);
	color: #fff !important;
	border: 2px solid var(--complementaryColor);
}

/* animate */
@keyframes bounce {
    from {
      transform: translateY(-8px);
    }
    to {
      transform: translateY(0px);
    }
  }


 /*================
     Services
     =================
*/

.services {
    color: #fff;
    position: relative;
}

#at-services .overlay{
    background-image: linear-gradient(135deg, var(--primaryColor), whitesmoke);
    background-image: -webkit-linear-gradient(-405deg, #3023AE, #C96DD8);
    background-attachment: fixed;
}

.services .section-title h2 {
    font-size: 3rem;
    text-transform: capitalize;
}

.services .section-title .intro {
    width: 50%;
    margin: 40px auto;
    color: #eee;
    font-size: 1.2rem;
}

.services h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 20px 0 10px;
    color: #fff;
}

.col-services p {
    color: #eee;
    font-size: 1.1rem;
    padding-bottom: 30px;
    margin: 0 auto;
}

.services .col-services .fa {
    color: whitesmoke;
}

.learnmore {
    margin: 30px 0; 
}

.learnmore a {
    color: var(--primaryColor) !important;
    padding: 10px 15px;
    font-weight: 700;
    background: #fff;
    background: whitesmoke;
    border-color: transparent;
    transition: var(--transition);
    
}


.learnmore a:hover {
    color: #fff !important;
    background: var(--primaryColor) !important;
}


/*===================
    About
    =================
*/
.about{
    background: rgb(252, 252, 252)
}

.section-title h2 {
    margin: 0 0 20px;
    font-size: 2.7rem;
    text-transform: capitalize;
}

.section-title hr {
	border-top: 4px solid var(--primaryColor);
	width: 40px;
    margin-top: 10px;
    display: none
	
}

.space,
.r1 {
    margin-bottom: 40px;
}

.at-about-wt-icons .fa {
    color: var(--primaryColor);
}

.at-about-wt-icons h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px 0 10px;
}


/*===================
    Contact
    =================
*/
.contact {
    background: url(../img/03.jpg);
    position: relative;
    background-attachment: fixed;
    color: #fff;
    z-index: 1;
}

.contact::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:linear-gradient(-45deg, rgba(3, 24, 54, 0.6) 60%,rgba(212, 217, 240, 0.6));  
    z-index: -1      
}

.contact-details {
    padding-left: 20px;
}
.contact-details h3 {
    text-transform: uppercase;
    font-size: 2rem
}

.contact-info {
    display: flex;
    margin-bottom: 30px;
}

.contact-info p {
    margin-left: 30px;
    color: #fff;
    align-self: center;
}
.contact-body {
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    padding-left: 40px;
}

.contact-info .fa {
    padding: 0;
    margin: 0 !important;
    color: #fff;
}





 /*================
     Email me section 
     =================
*/

.emailme-form {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    overflow: hidden;
    color: var(--primaryColor);
    margin-bottom: 40px;
    font-size: 1.3rem;
  }

  .emailme-preheader {
    background: whitesmoke;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 52px;
    font-weight: 700;
    color: var(--primaryColor)
  }
  
  .emailme-preheader,
  .emailme-header,
  .emailme-body,
  .emailme-footer{
    padding: 10px 15px;
  }
  
  .emailme-header {
    border-bottom: 1px dashed gainsboro;
  }
  
  .emailme-header-line {
    display: flex;
    margin: 2px 0;
  }
  

  .emailme-header-line .label {
    width: 20%;
    align-self: center;
    text-align: left;
    border-radius: 0;
    padding-left: 0;
   
  }
  .emailme-header-line .value {
    width: 70%;
    padding: 2px 0;
  }

  .emailme-header-line p {
      margin: 0;
      padding: 2px 0;
      color: var(--secondaryColor);
  }

  .emailme-header-line p.value {
      font-weight: 700;
      font-size: 0.9em;
      color: var(--primaryColor);
  }
  
  .emailme-form input,
  .emailme-form textarea {
    display: inline;
    background: transparent;
    border: 0;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid transparent;
    line-height: 1;
    font-size: 1.2eem;
    color: var(--darkColor);
    outline: none;
    min-width: 150px;
    padding: 8px;
    
  }
  .emailme-form input,
  .emailme-header-line p {
    padding: 5px 0;
    margin-left: 10px;
    
  }
  
  .emailme-body textarea {
    border: 1px dashed var(--secondaryColor);
    width: 100%;
  }

  .emailme-body input {
    margin: 0 3px;
    border-bottom: 1px dashed var(--secondaryColor);
  }
  
  .emailme-message {
    margin-bottom: 15px;
  }
  
  
  .emailme-form input, {
    padding: 5px 0;
    margin-left: 10px;
    
  }
  
  .emailme-footer {
    padding-bottom: 15px;
    text-align: right;
  }
  
  .emailme-submit {
    display: inline-block;
    background: var(--primaryColor);
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    transition: var(--transition);
  }

  .emailme-submit:hover {
      box-shadow: none;
      opacity: 0.9;
  }

/*====================
    Footer
    ==================
*/

footer {
	background: var(--primaryColor);
	color: #ffffff;
    padding: 30px 15px 10px;
    font-size: 17px;
}

footer .fnav{ vertical-align: middle;}


ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}

footer .footname {
    color: var(--complementaryColor) !important;
}

footer .footname:hover {
    border-bottom: 2px solid #fff !important;
}

footer i.fa {
	height: 35px;
	width: 35px;
	border: 2px solid #fff;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #fff ;
    transition: var(--transition);
    text-align: center;
}
footer i.fa:hover{
	background: #fff;
	border-color: #fff;
    color: var(--primaryColor);
    
}


/*============
    Placeholder
    =============
*/

input::-webkit-input-placeholder {
    opacity: 0.6;
    font-size: 0.9rem;
}

textarea::-webkit-input-placeholder {
    opacity: 0.6;
    font-size: 0.9rem;
}

     
input:-moz-placeholder { /* Firefox 18- */
    opacity: 0.6;
    font-size: 0.9rem;
}

textarea:-moz-placeholder {
    opacity: 0.6;
    font-size: 0.9rem;
}
    
input::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.6;
    font-size: 0.9rem;
}

textarea::-moz-placeholder {
    opacity: 0.6;
    font-size: 0.9rem;
}
    
input:-ms-input-placeholder {  
    opacity: 0.6;
    font-size: 0.9rem;
}

textarea:-ms-input-placeholderr {
    opacity: 0.6;
    font-size: 0.9rem;
}

